.adminbg
{
    position: relative;

    overflow: hidden;

    height: 100vh;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: 100vw 100vh;
    z-index: 3;
}

.bgwindow
{
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, .5);
}

.loginform
{
    background-color: rgba(0, 0, 0, 0.7);
    height: 280px;
    width: 450px;
    position: absolute;
    top: 190px;
    right: 450px;
}


hr
{
    border-top: 1px solid red;
}

.s1
{
    position: absolute;
    font-size: 2.2em;
    top: 23px;
    right: 14px;
}

.design1
{
    margin-bottom: 5px;
}

.logo1
{
    position: absolute;
    top: 18px;
    left: 520px;
    width: 320px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
}
.logo2
{
    position: absolute;
    top: 38px;
    left: 520px;
    width: 320px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

.m1
{
    position: absolute;
    top: 140px;
    left: 475px;
    color: white;
    text-shadow: -1px -1px #aa3030;
}

.backimage
{
    position: relative;

    height: 300px;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: 100% 300px;
    z-index: 4;
}

.backwindow
{
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 300px;

    background-color: rgba(255, 0, 0,.2);
}


.main_wrapperad
{
  width: 100%;
  height: auto;
  margin: auto;
}

.content_wrapperad
{
  width: 100%;
  background-color: white;
  margin: auto;
  padding-bottom: 50px;
}

#content_areaad
{
  width: 92%;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #F8F8F8;
  border-color: #E7E7E7;
  padding-bottom: 10px;
  border-top: 5px solid #0084b4;
  margin-top: 15px;
}

#products_boxad{
width: 990px;
margin-left: 30px;
margin-bottom: 10px;
margin-top: 10px;
}

#single_productad{
padding-bottom: 10px;
margin-bottom: 20px;
}


#sidebarad
{
  width: 100%;
  background-color:#26C6DA;
  border-radius: 5px;
  margin-bottom: 30px;
  height: 60px;
  margin-top: -10px;
  z-index: 17;
}

#catsad li
{
  list-style: none;
  display: block;
  height: 30px;
  width: 141px;
  float: left;
}


#catsad a
{
  color: white;
  display: block;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  line-height: 2.3;
}


.class1 a:hover
{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 6px solid #034F84;
    text-shadow: -1px -1px #aa3030;
}

.slide-up-boxes a{
    display: block;
    background: #eee;
    border: 1px solid #ccc;
    height: 65px;
    margin: 0 0 20px 0;
    overflow: hidden;
    text-decoration: none;
}

.slide-up-boxes h5
{
    height: 65px;
    text-align: center;
    line-height: 65px;
    -webkit-transition:margin-top 0.2s linear;
    text-shadow: -1px -1px #aa3030;
}

.slide-up-boxes a:hover h5
{
    margin-top: -65px;
}

.slide-up-boxes div{
    height: 65px;
    padding: 10px;
    opacity: 0;
    -webkit-transition:all 0.4s linear;
    -webkit-transform:rotate(6deg);
    border-top: 2px solid cyan;
    text-decoration: none;
    color: white;
}

.slide-up-boxes a:hover div{
    opacity: 1;
    -webkit-transform:rotate(0);
}
